.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
        p {
            color: white;
        }
    }

    .social-media {
        margin-left: 15px;
        a:first-child {
            padding-right: 10px;;
        }
    }

    .email {
        margin-right: 15px;
    }

    .icon {
        width: 30px;
        height: 30px;
        fill: white;
    }
}